nav {
	padding: 15px;
	margin: 0 10%;
}

.menu {
	float:right;
}

.menu li {
	display:inline-block;
	margin:5px 15px;
}

.menu li a {
	font-family:'Raleway';
	font-size:10px;
	text-decoration: none;
	color:#000;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 25px;
	margin-left:15%;
}

h2 {
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 10px;
}

section h5 {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 13px;
	margin-left:15%;
}

#busqueda {
	font-family: 'Raleway'
	font-weight: 400;
	width:25%;
	margin:0 auto;
}

.facilidades article {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 20px;
	width: 10%;
	text-transform: uppercase;
	display: inline-block;
	padding:10px;
	position: relative;
	left: 25%;
}

div h2 {
	font-family: 'Raleway'
	font-weight: 700;
	font-size: 20px;
	text-align: center;
}

div p {
	font-family: 'Raleway'
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}

article h4 {
	font-family: 'Raleway'
	font-weight: bold;
	font-size: 16px;
}

article p {
	font-family: 'Raleway'
	font-weight: 400;
	font-size: 12px;
}

.imagencentro {
	display:inline-block;
    position:absolute;
    top: 580px;
    left: 40%;
}

.primerdiv {
	display: inline-block;
	position: relative;
    left: 63%;
}

.segundodiv {
	display: inline-block;
	position: relative;
    left: 20%;
}

.small td:nth-child(2) {
	color:cyan;
}

.normal td:nth-child(2) {
	color:yellow;
}

.big td:nth-child(2) {
	color:orange;
}

.best td:nth-child(2) {
	color:red;
}

.servicios {
	text-align: center;
}

.planes article {
	display: inline-block;
    position: relative;
    margin-left:10%;
}

.planes h2 {
	font-family: 'Raleway'
	font-weight: 700;
	font-size: 20px;
	
}

.planes p {
	font-family: 'Raleway'
	font-weight: 400;
	font-size: 10px;
	text-align: center;	
}

.happy {
    font-size: 25px;
    text-align: center;
    padding: 25px;
    background-color: #003366;
    color:white;
}

span {
	color:#4d79ff;
}

section article p {	
	font-family: 'Raleway'
	font-weight: 400;
	font-size: 7px;
	width: 10px;
}

h6 {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 15px;
}

.velocidad {
	font-size: 20px;
}

.destacado	{
	font-family: 'Open Sans';
	color:#01aff4;
	font-weight: 700;
}

footer {
	background:#333;
	padding: 15px;
	overflow: auto;
}


footer p {
	float: left;
}

footer li {
	float:right;
}

footer a {
	text-decoration: none;
	color: white;
	padding: 15px;
}

footer ul {
	    list-style-type: none;
	}
